


 .container {

    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
   
 }

 ul {
   color: darkorange
 }

 h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 35px;
 }

 h2, h3, h4, h5, h6 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: x-large;
}

 .cat {
   color: #ffffff;
 }


 .heading {
    float: inline-start;
    width: 100%;
    height: 250px;
    background-color: rgb(203, 211, 180);
    color: #cb6216;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

 .subheading {
   text-transform: uppercase;
 }

 .lowSubgeading {
   text-transform: uppercase;
   font-size: medium;
 }

 a {
   color: black;
   font-size: x-large;
 }

 .section1 {
    float: left;
    height: auto;
    width: 50%;
    background-color: #e1ea7f;
    font-family: Arial, Helvetica, sans-serif; 
    
 }

 

 .content1 {
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
 }

 .section2 {
   float: right;
   height: auto;
   width: 50%;
   background-color: rgb(129, 93, 44);
   font-family: Arial, Helvetica, sans-serif;
  
   
}

.content2 {
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
 }


 .footer {
    float: inline-end;
    width: 100%;
    height: 40px;
    background-color: #cb6216;
    
 }

 .footer-text {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(0, 0, 0);
   
 }


/*

body {
    background-color: #FEE6DE;
 }


header div {
    color: #CF1500;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    padding-top: 30px;
    
    

    



 




  
  


