body {
margin: 0px;
}

.grid-container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  
 }

 

 .grid-item1 {
  background-color: rgb(152, 68, 68);
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding-top: 30px;
  
 }

 .cat {
  color: #ffffff;
}

.medievalcat {
  border-radius: 50%;
  width: 150px;
  height: auto;
  border: 5px solid;
  border-color: #ffffff;
 }


 .grid-item2 {
  background-color: #e2d0d0;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: medium;
 }

 .grid-item3 {
  background-color: #a0c4b7e6;
  grid-column-start: 2;
  grid-column-end: 4;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: medium;

 }

 .grid-item4 {
  background-color: rgb(152, 68, 68);
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-size: smaller;
 }

 ul {
   color: rgb(152, 68, 68);
 }

 a {
  color: #a0c4b7e6;
  font-size: large;
}

 h1 {
   font-size: 45px
 }

 h2, h3, h4, h5, h6 {
   font-size: x-large;
   text-transform: uppercase;

}

